#form fieldset {
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

#form fieldset div {
  
    margin-right: 10px;
}

#form #interests {
    height: max-content;
}

#form button[type="submit"] {
    margin-top: 2em;
}

#form div textarea {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    height: 78px;
    padding-top: 0.2em;
}

#form .policy {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: max-content;
}

#form .policy label input[type="checkbox"] {
    accent-color: var(--black);
}

#form .policy label a {
    color: var(--navy);
}